<section id='sotd' class='introductory'><h2>{{l10n.sotd}}</h2>
  {{#if isUnofficial}}
    <p>
      This document is merely a public working draft of a potential specification. It has
      no official standing of any kind and does not represent the support or consensus of any
      standards organisation.
    </p>
    {{{sotdCustomParagraph}}}
  {{else}}
    {{#if isTagFinding}}
      {{{sotdCustomParagraph}}}
    {{else}}
      {{#if isNoTrack}}
        <p>
          This document is merely a W3C-internal {{#if isMO}}member-confidential{{/if}} document. It
          has no official standing of any kind and does not represent consensus of the W3C
          Membership.
        </p>
        {{{sotdCustomParagraph}}}
      {{else}}
        <p>
          <em>{{{l10n.status_at_publication}}}</em>
        </p>
        {{#if isSubmission}}
          {{{sotdCustomParagraph}}}
          {{#if isMemberSubmission}}
            <p>By publishing this document, W3C acknowledges that the <a href="http://www.w3.org/Submission/@@@submissiondoc@@@">Submitting Members</a> have made a formal Submission request to W3C for discussion. Publication of this document by W3C indicates no endorsement of its content by W3C, nor that W3C has, is, or will be allocating any resources to the issues addressed by it. This document is not the product of a chartered W3C group, but is published as potential input to the <a href="http://www.w3.org/Consortium/Process">W3C Process</a>. A <a href="http://www.w3.org/Submission/@@@teamcomment@@@">W3C Team Comment</a> has been published in conjunction with this Member Submission. Publication of acknowledged Member Submissions at the W3C site is one of the benefits of <a href="http://www.w3.org/Consortium/Prospectus/Joining">W3C Membership</a>. Please consult the requirements associated with Member Submissions of <a href="http://www.w3.org/Consortium/Patent-Policy-20040205/#sec-submissions">section 3.3 of the W3C Patent Policy</a>. Please consult the complete <a href="http://www.w3.org/Submission">list of acknowledged W3C Member Submissions</a>.</p>
          {{else}}
            {{#if isTeamSubmission}}
              <p>If you wish to make comments regarding this document, please send them to
              <a href='mailto:{{wgPublicList}}@w3.org{{#if subjectPrefix}}?subject={{subjectPrefixEnc}}{{/if}}'>{{wgPublicList}}@w3.org</a>
              (<a href='mailto:{{wgPublicList}}-request@w3.org?subject=subscribe'>subscribe</a>,
              <a
                href='http://lists.w3.org/Archives/Public/{{wgPublicList}}/'>archives</a>){{#if subjectPrefix}}
                with <code>{{subjectPrefix}}</code> at the start of your email's subject{{/if}}.</p>
              <p>Please consult the complete <a href="http://www.w3.org/TeamSubmission/">list of Team Submissions</a>.</p>
            {{/if}}
          {{/if}}
        {{else}}
          {{#unless sotdAfterWGinfo}}
          {{{sotdCustomParagraph}}}
          {{/unless}}
          <p>
            This document was published by the {{{wgHTML}}} as {{anOrA}} {{longStatus}}.
            {{#if notYetRec}}
              This document is intended to become a W3C Recommendation.
            {{/if}}
            {{#unless isPR}}
              If you wish to make comments regarding this document, please send them to
              <a href='mailto:{{wgPublicList}}@w3.org{{#if subjectPrefix}}?subject={{subjectPrefixEnc}}{{/if}}'>{{wgPublicList}}@w3.org</a>
              (<a href='mailto:{{wgPublicList}}-request@w3.org?subject=subscribe'>subscribe</a>,
              <a
                href='http://lists.w3.org/Archives/Public/{{wgPublicList}}/'>archives</a>){{#if subjectPrefix}}
                with <code>{{subjectPrefix}}</code> at the start of your email's subject{{/if}}.
            {{/unless}}
            {{#if isLC}}The Last Call period ends {{humanLCEnd}}.{{/if}}
            {{#if isCR}}
              W3C publishes a Candidate Recommendation to indicate that the document is believed to be
              stable and to encourage implementation by the developer community. This Candidate
              Recommendation is expected to advance to Proposed Recommendation no earlier than
              {{humanCREnd}}.
            {{/if}}
            {{#if isPER}}
                W3C Advisory Committee Members are invited to
                send formal review comments on this Proposed
                Edited Recommendation to the W3C Team until
                {{humanPEREnd}}.
                Members of the Advisory Committee will find the
                appropriate review form for this document by
                consulting their list of current
                <a href='https://www.w3.org/2002/09/wbs/myQuestionnaires'>WBS questionnaires</a>.
            {{/if}}
            {{#if isPR}}
                The W3C Membership and other interested parties are invited to review the document and
                send comments to
                <a rel='discussion' href='mailto:{{wgPublicList}}@w3.org'>{{wgPublicList}}@w3.org</a>
                (<a href='mailto:{{wgPublicList}}-request@w3.org?subject=subscribe'>subscribe</a>,
                <a href='http://lists.w3.org/Archives/Public/{{wgPublicList}}/'>archives</a>)
                through {{humanPREnd}}. Advisory Committee Representatives should consult their
                <a href='https://www.w3.org/2002/09/wbs/myQuestionnaires'>WBS questionnaires</a>.
                Note that substantive technical comments were expected during the Last Call review
                period that ended {{humanLCEnd}}.
            {{else}}
              {{#unless isPER}}
              All comments are welcome.
              {{/unless}}
            {{/if}}
          </p>
          {{#if implementationReportURI}}
            <p>
              Please see the Working Group's  <a href='{{implementationReportURI}}'>implementation
              report</a>.
            </p>
          {{/if}}
          {{#if sotdAfterWGinfo}}
          {{{sotdCustomParagraph}}
          {{/if}}
          {{#if notRec}}
            <p>
              Publication as {{anOrA}} {{textStatus}} does not imply endorsement by the W3C
              Membership. This is a draft document and may be updated, replaced or obsoleted by other
              documents at any time. It is inappropriate to cite this document as other than work in
              progress.
            </p>
          {{/if}}
          {{#if isRec}}
            <p>
              This document has been reviewed by W3C Members, by software developers, and by other W3C
              groups and interested parties, and is endorsed by the Director as a W3C Recommendation.
              It is a stable document and may be used as reference material or cited from another
              document. W3C's role in making the Recommendation is to draw attention to the
              specification and to promote its widespread deployment. This enhances the functionality
              and interoperability of the Web.
            </p>
          {{/if}}
          {{#if isLC}}
            <p>
              This is a Last Call Working Draft and thus the Working Group has determined that this
              document has satisfied the relevant technical requirements and is sufficiently stable to
              advance through the Technical Recommendation process.
            </p>
          {{/if}}
          <p>
            {{#unless isIGNote}}
              This document was produced by
              {{#if multipleWGs}}
              groups
              {{else}}
              a group
              {{/if}} operating under the
              <a{{#if doRDFa}} id="sotd_patent" property='w3p:patentRules'{{/if}}
              href='http://www.w3.org/Consortium/Patent-Policy-20040205/'>5 February 2004 W3C Patent
              Policy</a>.
            {{/unless}}
            {{#if recNotExpected}}
              The group does not expect this document to become a W3C Recommendation.
            {{/if}}
            {{#unless isIGNote}}
              {{#if multipleWGs}}
                W3C maintains {{{wgPatentHTML}}}
              {{else}}
                W3C maintains a <a href='{{wgPatentURI}}' rel='disclosure'>public list of any patent
                disclosures</a>
              {{/if}}
              made in connection with the deliverables of
              {{#if multipleWGs}}
              each group; these pages also include
              {{else}}
              the group; that page also includes
              {{/if}}
              instructions for disclosing a patent. An individual who has actual knowledge of a patent
              which the individual believes contains
              <a href='http://www.w3.org/Consortium/Patent-Policy-20040205/#def-essential'>Essential
              Claim(s)</a> must disclose the information in accordance with
              <a href='http://www.w3.org/Consortium/Patent-Policy-20040205/#sec-Disclosure'>section
              6 of the W3C Patent Policy</a>.
            {{/unless}}
            {{#if isIGNote}}
              The disclosure obligations of the Participants of this group are described in the
              <a href='{{charterDisclosureURI}}'>charter</a>.
            {{/if}}
          </p>
          {{#if isNewProcess}}
            <p>This document is governed by the <a id="w3c_process_revision"
              href="http://www.w3.org/2015/Process-20150901/">1 September 2015 W3C Process Document</a>.
            </p>
          {{else}}
            <p>
              This document is governed by the  <a id="w3c_process_revision"
              href="http://www.w3.org/2005/10/Process-20051014/">14 October 2005 W3C Process Document</a>.
            </p>
          {{/if}}
          {{#if addPatentNote}}<p>{{{addPatentNote}}}</p>{{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</section>
